
 <div class="container-fluid">
        <div class="row">
            <div class="padre bg-cover">
                <div class="col-12">
                    <div class="text-center">
                        <a href="/"><img src="./images/logo.png" alt="logo" style="width: 200px;" /></a>
                        <h2 style="color: #212529;font-weight: bold;font-size: 2.5rem;padding: 0.5rem;text-align: center;">
                            Bienvenidos a Epikus Cake</h2>
                        <div class="mt-4">
                            <a href="/api/sessions/login" class="btn btn-primary btnLogin">
                                <i class="bi bi-person-fill me-2"></i>Iniciar Sesión
                            </a>
                            <a href="/api/sessions/register" class="btn btn-outline-primary ms-3 btnRegister">
                                <i class="bi bi-person-vcard-fill me-2"></i>Registrarse
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>